<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSDI Project</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Final Project SSDI"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="angularjs/angular.min.js"></script>


<script>

var app = angular.module('ta',[]) ;
app.controller('tc',function($scope){
$scope.types = ['travel','food','Inter']

$scope.traveltype = ['Inter','Within']
$scope.foodpurpose = ['Meal','Client','Team']
$scope.travelClaims = [{}]
$scope.foodClaims = [{}]
$scope.accomodationClaims = [{}]
$scope.miscClaims = [{}]

$scope.addTravelItem  = function(){
  $scope.travelClaims.push({}) ;
}
$scope.removeTravelItem = function(){
  $scope.travelClaims.pop({}) ;
}
$scope.addfoodItem  = function(){
  $scope.foodClaims.push({}) ;
}
$scope.removefoodItem = function(){
  $scope.foodClaims.pop({}) ;
}
$scope.addaccomodationItem  = function(){
  $scope.accomodationClaims.push({}) ;
}
$scope.removeaccomodationItem = function(){
  $scope.accomodationClaims.pop({}) ;
}
$scope.addmiscItem  = function(){
  $scope.miscClaims.push({}) ;
}
$scope.removemiscItem = function(){
  $scope.miscClaims.pop({}) ;
}

$scope.myFunc  = function(type,claim){  claim.type=type ;
console.log('inside')
}
}

)

</script>






    



</head>
<body ng-app="ta" ng-controller='tc'>

<div  class="container-fluid">
<div class="panel-group" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Travel</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
           </br>
      <div class = "travel" ng-repeat="t  in travelClaims">
        
        Type of Travel:
        <select ng-model="ty.travelType">
          <option ng-repeat="ty in traveltype" value="{{$index+1}}">{{ty}}</option> 
        </select>
        </br></br>
        	<input placeholder='Type the Purpose of Visit' ng-model="ty.purposeOfVisit"/>
        </br></br>
          </br></br>
        Enter the Amount to be Reimbursed: <input ng-model="ty.amount" type="text" value="$0000">
        </br></br>
        Enter the Date of Arrival: <input ng-model="ty.toDate" type = "date" name = "arrival_date">
        Enter the Date of Departure: <input ng-model="ty.fromDate" type = "date" name = "dept_date"></br></br></br><hr>
      </div>
      
    </div>
  </div>
</div>
</div>
<div>
<button class = "btn btn-success" type = "button" ng-click = 'addTravelItem()'>Add Fields</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn btn-success" type = "button" ng-click = 'removeTravelItem()'>Remove Field</button>
</div>




</br>
 
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Food</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      </br>
        <div class = "food" ng-repeat="f  in foodClaims">
        Type of Meal:
        <select ng-model="f.purposeOfVisit">
          <option ng-repeat="fp in foodpurpose">{{fp}}</option> 
        </select>
        </br></br>
        	<input value='Number of Meals' ng-model="f.numberOfMeals"/>
        </br></br>
        </br></br>
        Enter the Amount to be Reimbursed: <input type="text" value="$0000" ng-model="f.amount">
        </br></br>
      

      
    </div>
  </div>
</div>
<div><button class = "btn btn-success" type = "button" ng-click = 'addfoodItem()'>Add Fields</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn btn-success" type = "button" ng-click = 'removefoodItem()'>Remove Field</button></div>


</br>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Accomodation</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      </br>
        <div class = "accomodation" ng-repeat="a in accomodationClaims">
        Purpose:
        <textarea rows="4" cols="50" placeholder = "Enter the Purpose" ng-model="a.purposeOfVisit"></textarea>
        </br></br>
        Address<input placeholder='Enter Address' ng-model="a.address"/>
        </br></br>
        Date From &nbsp <input type="date" ng-model="a.fromDate">&nbsp Date To &nbsp<input type="date" ng-model="a.toDate">
        </br></br>
        Enter the Amount to be Reimbursed: <input type="text" value="$0000" ng-model="a.amount">
        </br></br>
      
    </div>
  </div>
</div>
<div><button class = "btn btn-success" type = "button" ng-click = 'addaccomodationItem()'>Add Fields</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn btn-success" type = "button" ng-click = 'removeaccomodationItem()'>Remove Field</button></div>
</br>

</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">Miscellaneous</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      </br>
        <div class = "misc" ng-repeat="m  in miscClaims">
        Purpose:
        <textarea ng-model="m.purposeOfVisit" rows="4" cols="50" placeholder = "Enter the Purpose"></textarea>
        </br></br>
        </br></br>
        Enter the Amount to be Reimbursed: <input type="text" value="$0000">
        </br></br>
        Date: &nbsp <input type="date" ng-model="m.date"/></br></br>
        
      </div>

      
    </div>
  </div>
</div>
<div><button class = "btn btn-success" type = "button" ng-click = 'addmiscItem()'>Add Fields</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class = "btn btn-success" type = "button" ng-click = 'removemiscItem()'>Remove Field</button></div>


</br></br>

<button class="btn btn-success" align="center">Submit </button>



	
	

</body>
</html>