<!DOCTYPE html>
<html style="height:100%">
<head>
<meta charset="ISO-8859-1">
<title>Timesheet</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>Collaboration</title>
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angularjs/angular.min.js"></script>
    <script src="angularjs/angular-route.min.js"></script>
    <script src="js/timesheetController.js"></script>
    <script src="uibootstrap/uibs.js"></script>
</head>
<body style="height:100%">
<div class="container-fluid" style="height:100%" ng-app="tsApp" ng-controller="tsAppCtrl">
	<div class="row" style="height:100%">
	<div class="col-md-4" style="height:100%">
	<div style="height:30%">
	<div style="height:30%"></div>
	<h3>Timesheet</h3>
	</div>
	<div style="display:inline-block; vertical-align:middle;min-height:290px;">
      <div uib-datepicker ng-model="dt" ng-change="onDateChange(dt)" class="well well-sm" datepicker-options="options"></div>
    </div>
	</div>
	<div class="col-md-8" style="height:100%">
		<div style="height:15%">
		</div>
		<div style="height:5%">
		<button class="btn btn-info" ng-click="addTask(days[currentDay])" >Add</button>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
				<th ng-repeat="t in title">
				{{t}}
				</th>
				</tr>
				
				</thead>
				<tbody>
				<tr ng-repeat="task in days[currentDay].tasks">
				<td>{{$index + 1}}</td>
				<td><input ng-model="task.name"/>
				</td>
				<td><input ng-model="task.hours" type="number" ng-change="onHoursChange(days,task,$index,'{{task.hours}}')"/></td>
				<td><button ng-click = "removeTask(days[currentDay].tasks,$index)"><i class="glyphicon glyphicon-trash"></i></button></td>
				</tr>
				</tbody>
				
			</table>
		</div>
		<button class="btn btn-info" ng-click="onClickOfSubmit(days)">Submit</button>
	</div>
</div>
</body>
</html>